/* ----- RESPONSIVE GENERAL ----- */
@media (max-width: 900px) {

    body {
        padding-left: 0 !important; /* sidebar deja de ocupar espacio en móviles */
    }

    .sidebar {
        width: 100% !important;
        height: auto !important;
        position: relative !important;
        padding-bottom: 10px;
    }

    .sidebar-menu li {
        display: inline-block;
        width: 50%;
        text-align: center;
    }

    header {
        padding: 40px 20px !important;
        text-align: center;
    }

    header h1 {
        font-size: 24px !important;
    }

    .grid {
        grid-template-columns: 1fr !important;
        gap: 15px !important;
    }

    .card {
        width: 100% !important;
        margin: auto;
    }

    .modal-content {
        width: 92% !important;
        margin-top: 30% !important;
    }
}

/* ----- RESPONSIVE CELULARES PEQUEÑOS ----- */
@media (max-width: 500px){

    .sidebar-menu li {
        width: 100%;  /* cada botón en una fila */
        padding: 8px 0;
    }

    header h1 {
        font-size: 20px !important;
        line-height: 1.3;
    }

    .btn {
        width: 100% !important;
    }

    .email-btn img {
        width: 24px !important;
    }
}
